### First Dataset from sql database to .csv file

In [18]:
# Import necessary libraries

import pyodbc     
from dotenv import dotenv_values    #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 

warnings.filterwarnings('ignore')

In [19]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
driver = environment_variables.get("DRIVER")
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [20]:
# Create a connection string
connection_string = f"DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [21]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [22]:
# Now the sql query to get the data is what what you see below. 
# Note that you will not have permissions to insert delete or update this database table. 

# 2020 DATASET
query = "SELECT * FROM dbo.LP2_Telco_churn_first_3000"
telco_churn_1st_3000 = pd.read_sql(query, connection)
# print(dataset2020)

In [23]:
# Close the connection
connection.close()

In [24]:
# Save the 2020 DataFrame to a CSV file
telco_churn_1st_3000.to_csv('telco_churn_1st_3000.csv', index=False)